{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Custom Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5" style="background-color: #d6e8d6; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4" style="color: #495057;">{% trans "Welcome Back!" %}</h3>

                    <p class="card-text text-center" style="color: #495057;">
                        {% trans "Sign in to continue your mindful coding journey" %}</p>

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-primary btn-block mt-4" type="submit">{% trans "Sign In" %}</button>
                    </form>

                    <p class="text-center mt-3" style="color: #495057;">{% trans "Don't have an account?" %} <a
                            href="{{ signup_url }}" style="color: #007bff;">{% trans "Sign Up" %}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}